@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

body {
    background-color: #f0f3f9;
}

.container {
    width: 100%;
    padding: 0px 5px;
    transition: all ease .3s;
}

.main {
    max-width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 50px;   
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}


@media ( max-width: 640px) {
    .main .slideArea {
        display: none;
    }
}