@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
body {
    background-color: #f0f3f9;
}

.loaderArea {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0vh;
    background-color: #2f67cc;
    transition: all ease .5s;
    overflow: hidden;
    z-index: 99;
}
.loader {
    position: relative;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-top: 1px solid #eee9e7;
    border-right: 2px solid #eee9e7;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.container {
    width: 100%;
    min-height: 100vh;
    transition: all ease .3s;
}
.main {
    max-width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 50px;   
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}


.imageFormArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    background-color: #2f67cc ;
}
.imageFormArea .slideArea {
    width: 300px;
    overflow: hidden;
}
.imageFormArea .slideArea .slideRoll {
    width: 900px;
    display: flex;
}
.imageFormArea .slideArea .slideRoll img {
    width: 300px;
}

.imageFormArea .slideImageSelection {
    margin-top: 30px;
    width: 100px;
}
.imageFormArea .slideImageSelection .slideSelectIcon {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}
.imageFormArea .slideImageSelection .slideSelectIcon:hover {
    cursor: pointer;
}


.formArea {
    flex: 1;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.formArea .logo {
    width: 40px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.formArea .logo img {
    width: 100%;
}
.formArea .infoArea {
    max-width: 300px;
    text-align: center;
}
.formArea .infoArea h2 {
    margin-bottom: 10px;
    font-size: 24px;
}
.formArea .infoArea p {
    font-size: 12px;
}


.formArea .inputBox {
    margin-bottom: 10px;
    position: relative;
    max-width: 300px;
    height: 50px;
}
.formArea .inputBox input {
    width: 300px;
    padding: 10px;
    border: 1px solid #eee9e7;
    border-radius: 5px;
    outline: none;
}
.formArea .inputBox input:hover,
.formArea .inputBox input:focus {
    border-color: #2f67cc;
}

.formArea .inputBox span {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    background-color: #fff;
    transition: all ease .3s;
}

.formArea .inputBox input:focus ~ span,
.formArea .inputBox input:valid ~ span{
    transform: translateX(0px)
    translateY(-15px);
    font-size: 12px;
}

.formArea button {
    width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2f67cc;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
.googleLogin {
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: 1px solid #eee9e7;
    border-radius: 5px;
    cursor: pointer;
}
.googleLogin img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.googleLogin span {
    font-size: 12px;
}

.signUpArea {
    font-size: 12px;
}
.signUpArea span {
    font-weight: bold;
    color: #2f67cc;
}
.signUpArea span:hover {
    cursor: pointer;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background-color: #2f67cc;
}